{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div>
        <p>
            This is an example of paragrahp in symfony!
        </p>
    </div>
{% endblock %}